.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.Dice-Countainer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius:10px;
    color: white;
    background: rgb(71, 88, 161);
    margin-top: 3em;
    font-size: 15px;
    align-self:center;
}

.RollDice button:hover{
    background-color: #ff5252;
    cursor: pointer;
} 

.RollDice-Title{
    font-family: 'Modak', cursive;
    border-radius:5px;
    /* padding:10px; */
    border: 10px;
    width: 20pc;
    background:#dadb97

;
}

.Repo-Div{
    float:right;
    padding-right:50px;
    text-align:center;
    font-weight:bold;
    color:black;
}
/* .RollDice img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
} */
