.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.Dice-Countainer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius:10px;
    color: white;
    background: rgb(86, 77, 255);
    margin-top: 3em;
    font-size: 15px;
    align-self:center;
}

.RollDice button:hover{
    background-color: #ff5252;
    cursor: pointer;
} 

.RollDice-Title{
    font-family: 'Modak', cursive;
    border-radius:10px;
}